.App {
  text-align: center;
  background-color: #ffffff;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #ffffff;
  

}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    top: 500ch;
    animation: App-logo-spin infinite 20s linear;
   
  }
}

@media (prefers-reduced-motion: no-preference){
.App-Stars{
    
  
  }
}
.App-login {
  position: absolute;
  left: 87.86%;
  right: 12.14%;
  top: 22.31%;
  bottom: 38.75%;
  
}
.App-Address {
  position: absolute;
  font-size: calc(10px + 2vmin);
  left: 5px;
  top: 840px;
  color: rgb(237, 255, 75);
  background-color: #ffffff;
}

.App-Hello {
  font-size: calc(10px + 2vmin);
  top: 10%;
  left: 20%;
  position: absolute;
}

.App-Button {
  position: absolute;
  font-size: calc(10px + 2vmin);
  left: 5px;
  top: 750px;
  color: rgb(237, 255, 75);
  background-color: #ffffff;
}


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(163, 163, 163);
}

.App-link {
  color: #ff00dd;
  background-color: #ffffff;;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    top: 500ch;
    display: flex;
  }
  to {
    top: 300ch;
    display: flex;
    transform: rotate(360deg);
  }
}
